.publisher-edit-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.publisher {
    margin-top: 90px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .input-row {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin: 10px 0;

        h2 {
            margin: 0;
            width: 20%;
            text-align: end;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.87);
        }

        ;

        .input-area {
            width: 80%;
            display: flex;
            justify-content: start;
            margin-left: 50px;

            input,
            textarea {
                font-family: "Poppins", sans-serif;
                border: 1px solid rgba(0, 0, 0, 0.87);
                border-radius: 10px;
                box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.87);
                color: rgba(0, 0, 0, 1);
                background-color: #FFFFFF;
                font-size: 1rem;
                width: 70%;
                height: 50px;
                padding: 5px;
                transition: all 0.3s ease;
            }

            ;

            textarea {
                height: 150px;
                resize: none;
            }

            ;

            input:focus,
            textarea:focus {
                border-color: #F37C22;
                box-shadow: inset 0 0 3px #F37C22;
                outline: none;
            }

            ;
        }

        ;
    }

    ;
}