#root {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.loading-screen {
  color: #F37C22;
  font-size: 3rem;
  font-weight: 400;
  margin-top: 300px;
}

.page-title {
  color: #F37C22;
  font-size: 3rem;
  font-weight: 400;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal {
  width: 300px;
  color: rgba(0, 0, 0, 1);
  background-color: #F0F0F0;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.87);
  margin-bottom: 200px;
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  border: 1px solid rgba(0, 0, 0, 0.87);
  border-radius: 10px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.87);
  background-color: #F0F0F0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.view-btn {
  margin-left: 10px;
  height: 38px;
  width: 90px;
}

.add-btn {
  margin-left: 15px;
  height: 42px;
  width: 90px;
}

.view-btn:hover,
.add-btn:hover,
.turn-back-btn:hover {
  border-color: #F37C22;
  color: #F37C22;
  box-shadow: 0 0 2px #F37C22;
}

.view-btn:active,
.add-btn:active,
.turn-back-btn:active {
  transform: scale(0.95);
  border-color: #F37C22;
  color: #F37C22;
  box-shadow: 0 0 2px #F37C22;
}

.delete-btn,
.save-btn {
  margin: 20px 50px;
  height: 38px;
  width: 90px;
}

.delete-btn:hover,
.cancel-btn:hover {
  border-color: #FF2400;
  color: #FF2400;
  box-shadow: 0 0 2px #FF2400;
}

.save-btn:hover,
.confirm-btn:hover {
  border-color: #32CD32;
  color: #32CD32;
  box-shadow: 0 0 2px #32CD32;
}

.delete-btn:active,
.cancel-btn:active {
  transform: scale(0.95);
  border-color: #FF2400;
  color: #FF2400;
  box-shadow: 0 0 2px #FF2400;
}

.save-btn:active,
.confirm-btn:active {
  transform: scale(0.95);
  border-color: #32CD32;
  color: #32CD32;
  box-shadow: 0 0 2px #32CD32;
}

.turn-back-btn {
  position: absolute;
  font-size: 20px;
  top: 110px;
  left: 25px;
  width: 70px;
  height: 38px;
}

.modal-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.confirm-btn,
.cancel-btn {
  width: 70px;
  height: 30px;
}